body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #2b62e5;
}

#search {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}

#search input,
#search select {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #8db1f3;
}

#clearBtn {
  padding: 0.5rem 1rem;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

#birthDay,
#birthYear,
#showAllBtn,
#clearAllBtn {
  background-color: #8db1f3;
  border: none;
  cursor: pointer;
}

#clearBtn:hover {
  background-color: #333;
}

.result {
  background: rgb(6, 44, 116);
  color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
